@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffe6a7;
  height: 100vh;
  align-items: stretch;
  font-family: "Montserrat", sans-serif;
}

header {
  color: #ffe6a7;
  padding: 20px;
  height: 70px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

a {
  transition-duration: 0.5s;
  padding: 20px;
  text-decoration: none;
  color: #ffe6a7;
}

a:hover {
  transform: scale(1.4);
}

.empty-element {
  flex: 1;
}

.sarah-nav {
  width: 300px;
  transform: translateY(-8vh);
}

.p1 {
  width: 32vw;
  margin: 0;
  text-align: start;
  height: 75%;
}

.hardware-img {
  display: block;
  width: 250px;
  object-fit: cover;
  border: solid 3px black;
  border-radius: 10px;
}

.sarah {
  display: block;
  width: 30vw;
  object-fit: cover;
  border-radius: 10px;
}

.sarah2 {
  display: block;
  width: 250px;
  object-fit: cover;
  border: solid 3px black;
  border-radius: 10px;
}

.div-row {
  display: flex;
  flex-direction: row;
  padding: 20px 0vw;
  align-items: center;
}

.div-fase {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  width: 20vw;
  background-color: #432818;
  border: solid 3px black;
  border-radius: 20px;
  color: #ffe6a7;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.header-box {
  width: 100%;
  background-color: #432818;
}

.fasen {
  background-color: #bb9457;
}

.section-box-1 {
  width: 100%;
  background-color: #bb9457;
}

li {
  margin: 20px;
}

.tech-box {
  display: flex;
}

footer {
  background-color: #432818;
  color: #ffe6a7;
  padding: 20px;
}

.technologie-introduction {
  width: 100%;
  padding: 20px 0;
}

.technologie-introduction-text {
  max-width: 50vw;
}

h1 {
  text-align: center;
}

.hardware-box {
  display: flex;
  width: 60vw;
}

.hardware-section {
  width: 100%;
  padding: 20px 0;
  background-color: #bb9457;
}

.hardware-p {
  background-color: #432818;
  color: #ffe6a7;
  padding: 20px;
  margin: 20px;
  border: solid 3px black;
  border-radius: 20px;
}

/* Nathan's code */

* {
  box-sizing: border-box;
}
.quickstart {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.quickstartSect {
  width: 90vw;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffe6a7;
  background-color: #432818;
  border-radius: 10px;
}

.quickstartSect img {
  width: 100%;
  margin: 10px;
}

/*   - - -   */

@media (max-width: 730px) {
  .sarah-nav {
    display: none;
  }
  nav {
    justify-content: center;
    text-align: center;
  }
  .nav-a-box {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  nav a {
    margin: 0;
  }
  header {
    height: fit-content;
  }
}
